app-right-side {
    display: inline-block;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    height: 100vh;
    overflow-y: auto;
}

/* Styling for individual products in the right-side component */
app-right-side div {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}